@charset "utf-8";
/* CSS Document */

body {
	background-color: #edeae5		

}

.h1, h1 {
	font-size: 5rem;
	font-family: 'Open Sans','Helvetica Neue','Arial',sans-serif;
}

.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: cadetblue;
    color: white;
    text-align: center;
}